{% extends 'base.html' %}
{% block content %}
    <div class='container'>
        <div class="jumbotron">
            <div class="row">
                <h3 class="text-center">Change Password</h3>
                <h4 class="text-center label label-warning">{{ error_message }}</h4>
            </div>
            <form action='' method='POST'> {% csrf_token %}
                <div class="row text-center">
                    <div class="col-xs-4"></div>
                    <input class="col-xs-4" type='email' name='email' placeholder='Email Address'/>
                </div>
                <div class="row text-center">
                    <div class="col-xs-4"></div>
                    <input class="col-xs-4" type='password' name='new_password' placeholder='New Password'/>
                </div>
                <div class="row text-center">
                    <div class="col-xs-4"></div>
                    <input class="col-xs-4" type='password' name='redo_password' placeholder='Again please'/>
                </div>
                <div class="row text-center">
                    <div class="col-xs-4"></div>
                    <input class="col-xs-4" type='submit' value='Change Password'/>
                </div>
            </form>
            
            {% for i in contents %}
                <p>{{ i }}</p>                
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}