{% extends 'base.html' %}
{% block content %}
    <div class='main_content'>
        <div class='container'>
            <div class="jumbotron">
            <div class="row">
                <h3 class="text-center">Reset your password here</h3>
                <h3 class="text-center"><small>Let's get your account back.</small></h3>
            </div>
            {% if error_message %}
                    <div class="alert alert-danger text-center">{{ error_message }}</div>
            {% endif %}
            {% if success_message %}
                    <div class="alert alert-success text-center">{{ success_message }}</div>
            {% endif %}
            <form action='' method='POST'> {% csrf_token %}
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="text-center">
                        <input class="col-xs-12 text-center form-control" type='text' name='username' placeholder='Username'/>
                        <input class="col-xs-12 text-center form-control" type='email' name='email' placeholder='Email'/>
                        <input class="col-xs-12 text-center form-control" type='password' name='password' placeholder='New password'/>
                        <input class="col-xs-12 text-center form-control" type='password' name='confirm_password' placeholder='Confirm password'/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <input class="col-xs-6 btn btn-info" type='submit' value='Reset Password'/>
                </div>
            </form>
            </div>
            {% if results %}
                <div class="row text-center">
                    <h3>Users</h3>
                </div>
                {% for i in results %}
                    <div class="row text-center">
                        <a class="text-info" href='{% url "change_password" i.id %}'> {{ i.username }} </a>
                    </div>
                {% endfor %}
            {% endif %}
            
            <!--<h2>{{ url }}</h2>-->
        </div>
    </div>
</body>
{% endblock %}